.App-footer {
  align-items: center;
  font-size: 1rem;
  padding-bottom: 40px;
  height: 100px;
  position: fixed;
  width: 100%;
  background: linear-gradient(transparent, $base-color);
  bottom: 0;
  line-height: 10;

  .contact, .description {
    display: inline-flex;
    position: relative;
    color: $accent-color;
    border-right: $base-color;
  }

  .contact {
    background: url(assets/linkedin.svg);
    background-position: 0;
    background-repeat: no-repeat;
    padding: 15px;
    height: 15px;
  }

  .description {
    padding: 10px;
  }

  @media screen and (max-width: 768px) {
    .contact, .description {
      line-height: 2.5;
      font-size: 0.8rem;
    }

    .contact {
      height: 10px;
      padding: 10px;
    }
  }
}