.App-header {
  background-color: rgba(193, 91, 28, 0.7);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  color: white;
  flex-direction: row;
  width: 100vw;
  padding: 20px 0;
  position: fixed;
  top: 0;

  .header-logo, .header-navigation{
    position: relative;
  }

  @media screen and (max-width: 1330px){
    .header-logo {
      width: 20vw;
      height: 64px;
    }

    .header-navigation {
      width: 80vw;
    }

  }

  .header-logo{
    margin-left: 30px;
    width: 30vw;
    height: 88px;
    float: left;
    background: url(./assets/logo.png) no-repeat center center;
    background-size: cover;
  }

  .header-navigation .search-container {
    float: left;

    .search-bar{
      width: 40vw;
      height: 40px;
      padding: 0 1vw;
      font-size: 1rem;
      border-radius:25px;
      border: 2px solid #ccc;
    }

    .search-bar:focus{
      border-radius:0;
    }

  }

  .header-navigation{
    float: right;
    flex-wrap: nowrap;
    width: 70vw;

    .search-button {
      padding: 16px;
      margin-top: 5px;
      margin-left: 39vw;
      border: 0;
      background: url(./assets/search-solid.svg);
      background-position: 0;
      background-repeat: no-repeat;
      position: absolute;
    }

  }

}

.App-header .header-navigation .search-container .search-bar {
  @media screen and (max-width: 768px){
    font-size: 0.9rem;
  }
}

.App-header .header-navigation .search-button {
  @media screen and (max-width: 1200px) {
    margin-left: 37vw;
  }

  @media screen and (max-width: 760px) {
    margin-left: 35vw;
  }

  @media screen and (max-width: 515px) {
    margin-left: 33vw;
  }
}