.list {
  top: 20px;
  position: absolute;
  right: 0;
  float: right;
  color: $base-color;
  font-weight: 700;
  line-height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover{
    color: black;
  }

  .description {
    text-align: right;
    padding-right: 5vw;

    @media screen and (max-width: 768px){
      padding-right: 3vw;
    }
  }

  #list-container{
    position: relative;
    top: 18px;
    right: 0;
    width: 40vw;
    height: 70vh;
    display: none;
    background-color: $secondary-color;
    overflow: scroll;
    margin-top: 12px;
    z-index: 1;

    @media screen and (max-width: 768px) {
      width: 70vw;
      height: 70vh;
    }

  }
}