.Products-main-container {
  width: 100%;
  margin-top: 115px;
  font-weight: 800;

  .Products {
    display: flex;
    flex-wrap: wrap;
    max-height: 450px;
    overflow-y:scroll;

    .product-item {
      border-radius: 15px;

      .price {
        position: relative;
        bottom: -2px;
      }

      &:hover{
        border-radius: 0;
        .price {
          color: $accent-color;
        }
      }
    }

    .spacing-item-placeholder {
      height: 2px;
      margin: 5px;
      padding: 0 1px;
      background-color: transparent;
      border-color: transparent;
    }

    .description {
      font-size: 0.8rem;
      height: 45px;
      padding-bottom: 5px;
    }

    .recipeImg{
      max-width: 150px;
      height: 150px;
    }

  }

  .Products>* {
    flex-basis: 170px;
    flex-grow: 1;
    padding: 5px 1px;
    text-align: center;
    margin: 5px;
    width: 170px;
    border: 2px solid $secondary-color;
    background-color: $base-color;
    height: 230px;
  }
}