@import "variables";
@import "header";
@import "footer";
@import "list";
@import "products";
@import "authentication";

.App {
  text-align: center;
  height: 100%;

  a {
    text-decoration: none;
  }
}